$color-background: #001F3F;
$color-texto: #FFDC00;


@alias {
  bgc: background-color;
  bxz: box-sizing;
  bbx: border-box;
}

body {
	bgc: #f1f1f1;
}

.primero {
	lost-utility: clearfix;
	bgc: #001F3F;
	color: #fff;
	padding: 20px;
	bxz: bbx;
	article {
		lost-column: 1/3;
	}
}