$color-background: #001F3F;
$color-texto: #FFDC00;


@alias {
  bgc: background-color;
  bxz: box-sizing;
  bbx: border-box;
}

body {
	bgc: #f1f1f1;
	font-family: 'Work Sans', sans-serif;
}

.section-s {
	padding: 20px;
	bxz: bbx;
	font-weight: 800;
	margin: 20px 0;
	article {
		bxz: bbx;
		font-weight: 400;
		padding: 10px;
	}
}

.primero {
	lost-utility: clearfix;
	bgc: rgba(0, 31, 63,.8);
	color: #fff;
	article {
		lost-column: 1/3;
		bgc: #001F3F;
	}
}

.segundo {
	lost-utility: clearfix;
	bgc: rgba(255, 220, 0,.5);
	color: #111;
	article {
		lost-column: 1/3;
		bgc: #FFDC00;
		&:first-child {
			lost-offset: 1/3;
		}
	}
}

.tercero {
	lost-center: 1024px;
	bgc: rgba(1, 255, 112, .5);
	color: #001F3F;
	article {
		lost-column: 1/3;
		bgc: rgb(1, 255, 112);
	}
}

.cuarto {
	lost-utility: clearfix;
	bgc: rgba(127, 219, 255, .5);
	article {
		bgc: #7FDBFF;
		color: #111;
	}
	.un-cuarto {
		lost-column: 1/6 0;
	}
	.y-mitad {
		lost-column: 2/6 0;
	}
}

.quinto {
	lost-utility: edit;
	article {
		lost-column: 1/5;
	}
}

.sexto {
	height: 100%;
	article {
		lost-row: 1/3;
	}
}