.foo {
	font-size: 16px;
	font-family: Arial, sans-serif;
	color: crimson;
	.build {
		font-size: 32px;
	}
	.foo-build {
		background-color: #fff;
	}
}

.hola {
	position: absolute;
	background-color: crimson;
	width: 100px;
	height: 200px;
}