$color-background: #001F3F;
$color-texto: #FFDC00;


@alias {
  bgc: background-color;
  bxz: box-sizing;
  bbx: border-box;
}

body {
	bgc: $color-background;
	opacity: .45;
}

section {
	width: 80%;
	margin: 0 auto;
	font-size: 0;
	article {
		width: calc(100% / 2);
		display: inline-block;
		bxz: border-box;
		padding: 0 20px;
		font-family: Arial, sans-serif;
		font-size: 1rem;
		line-height: 20px;
		color: $color-texto;
		&::after {
			content: '*';
			font-size: 2rem;
			color: rgba(237, 106, 67, 0.9);
		}
		&:nth-child(2) {
			background-color: rgba(237, 106, 67, 0.9);
			color: #fff;
		}
	}
}

.sorting {
	line-height: 20px;
	font-family: Verdana, serif;
	font-size: 20px;
	font-weight: 800;
}

.sorting-groups {
	line-height: 20px;
	width: 20%;
	font-family: Verdana, serif;
	font-size: 20px;
	margin: 0 auto;
	font-weight: 800;
	padding: 10px 20px;
}

.sorting-forever-alone {
	line-height: 20px;
	width: 20%;
	font-family: Verdana, serif;
	font-size: 20px;
	margin: 0 auto;
	font-weight: 800;
	padding: 10px 20px;
	position: absolute;
	top: 0;
	right: 0;
	box-sizing: border-box;
}